body {
  /*display: block;*/
  width:100%;
  height:100%;
  background-color: rgba(251, 247, 244, 1);
}

/* CONTROLS */
#GainWavCtrls {

}

#WavDisplay {

}

#woodshp {
  /*position: absolute;;*/
  width: 50%;
  margin-top: 1%;
    margin-bottom: auto;
  margin-left:25%;
  margin-right:auto;
}

/* END CONTROLS */
